*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);
    --Yellow: hsl(47, 88%, 63%);
}

body{
    font-family: 'Figtree';
}

.container{
    min-height: 100vh;
    background: var(--Yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box{
    background: #fff;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 15px;
    border-radius: 20px;
    box-shadow: 10px 10px var(--Black);
}


img{
    width: 265px;
    border-radius: 10px;
}

h3, p, h1{
    margin-top: 10px;
    font-size: 16px;
} 

h3{
    font-size: 13px;
    background-color: var(--Yellow);
    width: 90px;
    border-radius: 5px;
    padding: 5px;
}

h1{
    font-size: 20px;
}

a{
    text-decoration: none;
    color: var(--Black);
}

h1 > a:hover{
    color: var(--Yellow);
}

p#par{
    color: var(--Grey);
    
}

.perfil{
    display: flex;
    align-items: center;
}

.perfil > img{
    margin-top: 15px;
    width: 30px;
    margin-right: 10px;
}

div.perfil > P{
    font-weight: 900;
}

footer{
    font-size: 10px;
    padding: 20px;
    font-style: italic;
}

footer > a{
    color: var(--Grey);
}

footer > a:hover{
    color: var(--Black);
}